TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
BOT_MODE=polling
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_API_PROXY_URL=

PUBLIC_BOT_URL=
PUBLIC_SITE_URL=https://eslawspb.ru
OWNER_TELEGRAM_USERNAME=
PUBLIC_CHANNEL_URL=

DATABASE_URL=postgres://bot:bot_password@localhost:5432/elizaveta_bot
DATABASE_SSL=false

PERSONAL_DATA_POLICY_URL=https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2F3SMxVFxz0QQkTcc%2BO7%2Fzf9nf6G%2BWFwe%2Bat0PNu%2BNd5Uu5CIxtE6F7obQkibpfrfuq%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2FПолитика%20обработки%20данных.pdf&name=Политика%20обработки%20данных.pdf
PERSONAL_DATA_CONSENT_URL=https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2F3SMxVFxz0QQkTcc%2BO7%2Fzf9nf6G%2BWFwe%2Bat0PNu%2BNd5Uu5CIxtE6F7obQkibpfrfuq%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2FСогласие%20на%20обработку%20данных.pdf&name=Согласие%20на%20обработку%20данных.pdf&nosw=1
INFO_MESSAGES_CONSENT_URL=https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2F3SMxVFxz0QQkTcc%2BO7%2Fzf9nf6G%2BWFwe%2Bat0PNu%2BNd5Uu5CIxtE6F7obQkibpfrfuq%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2FСогласие%20на%20поулчение%20сообщений.pdf&name=Согласие%20на%20поулчение%20сообщений.pdf

CONSENT_TEXT_VERSION=2026-05-17-v1

PORT=3001
NODE_ENV=development
